* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* body {*/
/*	 background-color: #f5f5f5;*/
/*}*/

a {
	text-decoration: none;
	color: inherit;
}
.head-content {
	.arco-carousel-indicator-wrapper-bottom {
		background: none;
	}
}
.arco-input-append {
	padding: 0 !important;
}
#layout {
	.arco-split-pane {
		background-color: #fff;
		border-radius: 10px;
		/*padding: 10px;*/
	}
	.arco-split-trigger-icon-wrapper {
		background-color: #f0f0f0;
	}
	.arco-typography {
		margin-bottom: initial;
		height: 100%;
	}
	.arco-btn-group .arco-btn-secondary:not(:last-child) {
		border-right: initial;
	}
}
.back-ground-container .arco-select-view-single,
.back-ground-container .arco-input-wrapper {
	border-radius: 5px;
}
.arco-table-th {
	color: #3c3c4399;
	background-color: #fff;
	border-bottom: 1px solid rgb( 229,230,235 );
}
.arco-table-td {
	border-bottom: initial;
}