@font-face {
  font-family: 'iconfont';  /* Project id 4225649 */
  src: url('//at.alicdn.com/t/c/font_4225649_b7mfwp33ftl.woff2?t=1710575441958') format('woff2'),
       url('//at.alicdn.com/t/c/font_4225649_b7mfwp33ftl.woff?t=1710575441958') format('woff'),
       url('//at.alicdn.com/t/c/font_4225649_b7mfwp33ftl.ttf?t=1710575441958') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-jinpai:before {
  content: "\e600";
}

.icon-touxiang:before {
  content: "\e62c";
}

.icon-xiala:before {
  content: "\e609";
}
.icon-yanjing:before {
  content: "\e661";
}
